header {
    width: 70%;
    margin: 45px auto 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        gap: 60px;
        align-items: center;

        li {
            list-style-type: none;
            font-size: 24px;
            
            a {
                position: relative;
            }

            .nav-active {
                position: relative;

                &::after {
                    content: "";
                    height: 2px;
                    width: 0;
                    background: #000;
                    position: absolute;
                    bottom: -1px;
                    left: 50%;
                    transform: translateX(-50%);
                    -webkit-animation: anim 0.3s ease forwards;
                    animation: anim 0.6s ease forwards;
                }
                @-webkit-keyframes anim {
                    to {
                      width: 100%;
                    }
                  }
                  @keyframes anim {
                    to {
                      width: 100%;
                    }
                  }
            }
        }
    }
}